@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #EFEFEF;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  padding-top: 1.5rem;
}
header .navigation,
header .navigation_itens {
  display: flex;
  align-items: center;
}
header .nav__links {
  display: none;
}
header .navigation, header .navigation_itens {
  justify-content: space-between;
  align-items: center;
}
header .navigation_itens {
  gap: 20px;
}
header .navigation_itens li + li {
  margin-left: 1rem;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo ion-icon {
  font-size: 35px;
}
header .logo .is {
  color: #016F54;
}
header .logo .po {
  color: #EFD257;
}
header .nav__buttons {
  display: none;
}
header .nav__buttons li {
  display: inline-block;
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
}
header .nav__buttons li a {
  font-weight: 900;
}
header .nav__buttons li:first-child {
  border: 4px solid #016F54;
}
header .nav__buttons li:first-child a {
  color: #016F54;
}
header .nav__buttons li:last-child {
  background-color: #016F54;
  padding: 0.9rem 1.5rem;
}
header .nav__buttons li:last-child a {
  color: white;
}
header .burgerMenu {
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .burgerMenu div {
  background-color: #016F54;
  padding: 0.2rem 0;
  margin: 0.1rem 0;
  width: 40px;
  border-radius: 9px;
}
header .burgerMenu div:nth-child(2) {
  width: 35px;
}
header .burgerMenu div:nth-child(3) {
  width: 20px;
}
@media (min-width: 768px) {
  header .nav__links {
    display: flex;
  }
  header .nav__buttons {
    display: block;
  }
  header .burgerMenu {
    display: none;
  }
}

#banner .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#banner .description h1 {
  margin-top: 1rem;
}
#banner .description p {
  margin: 1rem 0;
}
#banner .description input, #banner .description button {
  width: 100%;
  padding: 0.9rem 0.6rem;
  border: none;
  border-radius: 5px;
}
#banner .description button {
  background-color: #016F54;
  color: white;
}
@media (min-width: 640px) {
  #banner .banner__description {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #banner .banner__description .ilustration, #banner .banner__description .description {
    max-width: 50%;
  }
  #banner .description h1 {
    margin-top: 0;
  }
}

#products {
  background-color: #E5E5E5;
}
#products .container {
  padding-top: 5rem;
}
#products .description {
  text-align: center;
  margin-bottom: 2rem;
}
#products .product__box > div {
  background-color: #EFEFEF;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  #products .product__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 0;
  }
}

#supplier .container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#supplier a {
  display: inline-block;
  background-color: #016F54;
  padding: 0.9rem 1.5rem;
  color: white;
  border-radius: 50px;
}
#supplier ion-icon {
  color: #EFD257;
  font-size: 30px;
}
#supplier .description__item div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  #supplier .container > div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  #supplier .ilustration,
  #supplier .description {
    max-width: 50%;
  }
}

#clients .description__item div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#clients span {
  color: #016F54;
}
#clients a {
  display: inline-block;
  background-color: #016F54;
  padding: 0.9rem 1.5rem;
  color: white;
  border-radius: 50px;
}
#clients ion-icon {
  color: #EFD257;
  font-size: 30px;
}
@media (min-width: 640px) {
  #clients .container > div {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  #clients .ilustration,
  #clients .description {
    max-width: 50%;
  }
}