@use '../variables.scss' as variable;
@use './mixins' as mixin;

footer {
    background-color: variable.$primary-dark;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .logo {
        display: flex;
        align-items: center;
        text-align: center;

        ion-icon {
            font-size: 35px;
        }

        .is{
           color:  variable.$secondary-green;
        }

        .po {
            color: variable.$secondary-yellow;
        }
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__links {
        display: flex;
        gap: 10px;
    }

    @include mixin.sm {
        & .footer__item:nth-child(2) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

