@use '../variables.scss' as variable;

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    background-color: variable.$primary;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: auto;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}