@use '../variables.scss' as variable;
@use './mixins' as mixin;


header {
    padding-top: 1.5rem;

    .navigation, 
    .navigation_itens {
        display: flex;
        align-items: center;
    }

    .nav__links {
        display: none;
    }

    .navigation, .navigation_itens {
        justify-content: space-between;
        align-items: center;
    }

    .navigation_itens {
        gap: 20px;

        li + li {
            margin-left: 1rem;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        ion-icon {
            font-size: 35px;
        }

        .is{
           color:  variable.$secondary-green;
        }

        .po {
            color: variable.$secondary-yellow;
        }
    }

    .nav__buttons {

        display: none;

        li {
            display: inline-block;
            border-radius: 50px;
            padding: 0.7rem 1.5rem;

            a {
                font-weight: 900;
            }
        }

        & li:first-child {
            border: 4px solid  variable.$secondary-green;  

            a {
               color:  variable.$secondary-green;
            }
        }

        & li:last-child {
            background-color: variable.$secondary-green;
            padding: 0.9rem 1.5rem;

            a {
                color: white;
            }
        }
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: end;
        
        div {
            background-color: variable.$secondary-green;
            padding: 0.2rem 0;
            margin: 0.1rem 0;
            width: 40px;
            border-radius: 9px;
        }

        & div:nth-child(2) {
            width: 35px;
        }

        & div:nth-child(3) {
            width: 20px;
        }
    }



    @include mixin.mediun {
        .nav__links {
            display: flex;
        }
        .nav__buttons {
            display: block;
        }

        .burgerMenu {
            display: none;
        }
    }

}