@use '../variables.scss' as variable;
@use './mixins' as mixin;


#banner {

    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

  
    .description {
        h1 {
            margin-top: 1rem;
        }

        p {
            margin: 1rem 0;
        }

        input, button{
            width: 100%;
            padding: 0.9rem 0.6rem;
            border: none;
            border-radius: 5px;
        }

        button {
            background-color: variable.$secondary-green;
            color: white;
        }
    }

    @include mixin.sm {
        .banner__description {
            display: flex;
            align-items: center;
            gap: 20px;

            .ilustration, .description {
                max-width: 50%;
            }
        }

        .description {
            h1 {
                margin-top: 0;
            }
        }
    }
}


#products {
    background-color: variable.$primary-dark;
    

    .container {
        padding-top: 5rem;
    }

    .description {
        text-align: center;
        margin-bottom: 2rem;
    }
        
    .product__box {

            & > div {
                background-color: variable.$primary;
                padding: 2rem;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
    }

    @include mixin.sm {
        .product__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-bottom: 0;
        }
    }
    
}

#supplier {

    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

#clients {

    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

